:root {
  --primary-dark: #232931;
  --secondary-dark: #393E46;
  --accent-teal: #4ECCA3;
  --neutral-white: #EEEEEE;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1{
  font-size: 1.75em;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-dark);
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

.flex-all-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============header============== */


header{
  color: var(--neutral-white);
  display: flex;
  height: 3em;
  background-color: var(--primary-dark);
  padding: 1.5em 1.5em 0 1.5em;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

header > h1{
  flex: 1 1 auto;
  flex-shrink: 0;
}

nav{
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  align-items: center;
}

nav > a {
  padding-left: 2em;
}

.accent-btn{
  font-family: inherit;
  font-weight: bold;
  background-color: var(--accent-teal);
  color: var(--primary-dark);
  padding: 5px 10px;
  border-radius: 7px;
  border: none;
}

/*=============== MAIN CONTENT ============== */

main {
  padding: 1em;
  flex-grow: 1;
  width: 100%;
  background-color: var(--primary-dark);
  
}

.mainBox{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: var(--secondary-dark);
  display: flex;
  text-align: center;
  color:var(--neutral-white);
}


/*=============== INNER BOX CONTENT ============== */

.uploadIcon{
  padding: 5px;
  width: 100px;
}

.mainBox > div > h2{
  padding: 10px;
}

.workSpace {
  flex-grow: 1;
  height: 100%;
}
/*=============== Sidebar ============== */
.sideBar {
  width: 300px;
  flex-shrink: 0;
  border: 1px solid white;

}

